body{
    background: #ffffff;
}
/* body{
    background: #e8f1fa;
} */
.container{
    width: 90%;
    margin: auto;
}
.gradient{
  background-image: linear-gradient(to bottom, #def1fe, #a5d7ff, #70baff, #3b9bff, #007aff);
}
.testimonials_gradient{
  background: radial-gradient(circle,rgba(181, 212, 245, 1) 0%, rgba(0, 122, 255, 1) 100%);


}
.active {
  @apply text-primaryColor ;
}

.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  width: 35px;
  height: 35px;
  min-width: 35px;
  border-radius: 50%;
  background-color: #007aff;
  color: white;
}
.homeCatSlider .swiper-button-prev:after,
.homeCatSlider .swiper-button-next:after {
  font-size: 16px !important;
}
.homeCatSlider .swiper-button-prev {
  left: 0px;
}
.homeCatSlider .swiper-button-next {
  right: 0px;
}
/* .homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover {
  background-color: #ff5252;
} */
.homeCatSlider .swiper-button-prev:hover::after,
.homeCatSlider .swiper-button-next:hover::after {
  color: white;
}
.link:hover{
color: #007aff;
text-decoration: underline;
}
