@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.custom-shape-divider-bottom-1751032529 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1751032529 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
}

.custom-shape-divider-bottom-1751032529 .shape-fill {
    /* fill: #E8F1FA; */
    fill: #DEF1FE;
}

.stamp {
  --r: 16px; /* control the radius */
  height: 170px;
  width: 170px;
  aspect-ratio: 1.;
  padding: var(--r);
  /* background: #cde2f7; */
  background: #cde2f7;
  mask: 
   radial-gradient(circle closest-side at 50% 50%, #0000 66%, #000 67%) round
  var(--r) var(--r)/calc(2*var(--r)) calc(2*var(--r)), 
  conic-gradient(from 0deg, #000 0 0) content-box;
}
